<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you for Booking</title>
</head>
<body>
    <table style="width: 550px;margin: auto;padding: 20px;">
        <tr>
            <td colspan="2">
                <img src="logo.png" style="width: 90px;display: block;margin: auto;">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h1 style="color: green;margin-top: 8px;">Thank you for Booking</h1>
                <p style="color: rgb(25, 25, 25);">You Can Check your Booking Status on hatimipropeties.com by login with your ITS</p>
            </td>
        </tr>
        <tr>
            <td>Name <b>:</b></td>
            <td>Huzaifa Tayyab Ali</td>
        </tr>
        <tr>
            <td>Check In Date <b>:</b></td>
            <td>24 oct 2023</td>
        </tr>
        <tr>
            <td>Check Out Date</td>
            <td>26 oct 2023</td>
        </tr>
        <tr>
            <td>Amount</td>
            <td>24500/-</td>
        </tr>
    </table>
</body>
</html>